body 
{   
	width: 100%;  
}
.all_body
{  
	width: 100%;  

}
.top{
	width:100%;
	background: linear-gradient(270deg, rgb(238, 174, 220) 0%, rgb(148, 188, 233) 100%)!important;
	border-bottom:2px solid #f0f0f0;
	position: sticky;
	top: 0;
	
	z-index: 3;
	
	 
}
.top div{ 
	width: 100% ; 
	color:#1e1414;
	background: linear-gradient(270deg, rgb(238, 174, 220) 0%, rgb(148, 188, 233) 100%) !important;
	font-family:calibri; 
}

 

.logo{
	width:100%;
	border-bottom:2px solid #f0f0f0;  
	position: sticky;
	top: 0;
	background-color: #f6f5fa;
	white-space: nowrap; 
	height: 80px;
	z-index: 2;
	
}
 
.main-logo
{
	width: 600px; 
	white-space: nowrap; 
}
.logo div{
	width:100%;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding:10px;
	text-align:left;
	display: flex;
	justify-content: flex-start; 
	white-space: nowrap; 
	height: 50px; 
}
 
 #links
 {  width: 500px;
	height: 100%;
	display: flex;
	white-space: nowrap;
	justify-content: center;
	padding: 10px;  
 }
.logo div table a{
	padding:10px;
	text-decoration:none;
	color:rgb(107, 106, 106); 
    white-space: nowrap;  
	 
	}

.logo div table a:hover{
	color:#428bca;
	border-bottom:2px solid gray; 
	
}

.middle{
	width:100%;
	border-bottom:2px solid #f0f0f0;
	display: flex;
	justify-content: center;
}
.middle div{
	width:1200px;
	height:400px;
	font-family:calibri;
	
}
.middle div p{
	width:1000px;
	font-weight:bold;
	height:300px;
	color:#fff;
	opacity:0.2;
	font-size:50px;
	background-color:#000;
	
}

.bottom{
	width:100%; 
	border-bottom:2px solid #f0f0f0;
	display: flex;
	justify-content: center;
}
.bottom div{
	width:1200px;
	color:#fff; 
	font-family:calibri;
	text-align:right;
	color:gray;
}
.bottom div table{
	padding-top:30px;
	width:1100px;
	text-align:justify;
	color:rgb(60, 58, 58);
	font-size:20px;
	display: flex;
	justify-content: center;
}

.bottom_up{
	width:100%; 
	border-bottom:2px solid #f0f0f0;
	display: flex;
	justify-content: center;
	
}
.bottom_up div{
	padding-top:20px; 
	text-align:center; 
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size:30px;
	padding-bottom:20px;  
	
}
.bottom_up div table{
	padding-top:30px;
	font-size:30px;
	width:1100px;
	text-align:center; 
	font-family:calibri;
	
}

input[type="text"]{
	padding:12px;
	width:250px;
}
select{
	padding:12px;
	width:250px;
}
.message{
	padding:50px;
	width:550px !important;
	height: 100px !important;
	text-align: center;
}
input[type="date"]{
	padding:12px;
	width:250px;
}
input[type="time"]{
	padding:12px;
	width:250px;
}
 


.nav_down{
	width:100%;
	background-image:linear-gradient(270deg, rgb(238, 174, 220) 0%, rgb(148, 188, 233) 100%) !important;
	border-bottom:2px solid #f0f0f0;
	position:fixed;
	bottom: 0;
	
	z-index: 1;
}
.nav_down div{
	width:100%;
	color:#fff;
	background-color:#37313171;
	font-family:calibri; 
	text-align:left;
}
.img {
    width: 200px;
    height: 400px;
    object-fit: cover;
}
.m{
	width:100%;
height:100%;
	border-bottom:2px solid #f0f0f0;
object-fit: cover;
}
.m div{
	width:830px;
	height:1200px;
	font-family:calibri;
object-fit: cover;
}
.m div p{
	width:830px;
	font-weight:bold;
	height:1800px;
	color:#fff;
	opacity:0;
	font-size:50px;
	background-color:#000;
object-fit: cover;
}
.mi{
	width:100%;
	border-bottom:2px solid #f0f0f0;
}
.mi div{
	width:863px;
	height:330px;
	font-family:calibri;
}
.mi div p{
	width:863px;
	font-weight:bold;
	height:330px;
	color:#fff;
	opacity:0;
	font-size:50px;
	background-color:#000;
} 
label
{
	text-transform: uppercase;
	font-size: 20px;
	color: gray;
}
.subm
{
    height: 50px;
    width: 150px;
    border-radius: 20px 20px ;
    margin-left: 120px;
    border-color: rgb(255, 0, 204);
    background-color: aliceblue;
}
 
.subm:hover
{
    border: 5px solid white;
    box-shadow: 1px 1px 10px rgb(99, 74, 96);
    animation: co 0.15s ease;
    background: linear-gradient(90deg, rgb(238, 174, 220) 0%, rgb(148, 188, 233) 100%);
}
@keyframes co 
{
    0%{
        background: linear-gradient(90 deg,white 100%);
    }
    25%
    {
        background: linear-gradient(90deg, rgb(238, 174, 220) 30%, white 70%);
    }
    50%
    {
        background: linear-gradient(90deg, rgb(238, 174, 220) 50%, white 100%);
    }
    75%
    {
        background: linear-gradient(90deg, rgb(238, 174, 220) 75%, white 100%);

    }
    100%
    {
        background: linear-gradient(90deg, rgb(238, 174, 220) 0%, rgb(148, 188, 233) 100%);
    }
    
}

.heading
{ 
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: 30px;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  border: 2px solid;
  width: max-content;
  padding: 10px;
  margin-bottom: 30px;
}
.blogo
{
    background-image: url("/img/medlogo.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: -1;
    filter: blur(20px);
    width: 100%;
    height: 1500px;

}